/*--------- RESET CSS ---------*/
@import 'reset';

/*--------- VARIABLES ---------*/
$container-padding: 30px;

/*--------- GENERAL ---------*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
    font-family: "Montserrat", sans-serif;
}

/*--------- HEADER ---------*/
header {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .header-titles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #main-title {
        font-size: 120px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
    }
    #sub-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    #para-title {
        font-size: 25px;
        font-weight: 100;
    }
    .header-logo {
        position: fixed;
        font-weight: bold;
        top: $container-padding;
        left: $container-padding;
        a {
            color: white;
            text-decoration: none;
        }
    }
    .top-menu-container {
        display: flex;
        align-items: center;
        position: fixed;
        top: $container-padding;
        right: $container-padding;
        .menu-item {
            a {
                padding: 0 $container-padding / 2;
                color: white;
                text-decoration: none;
                font-weight: 300;
            }
            #resume-btn {
                border: 1px solid rgb(63, 63, 63);
                padding: 7px 10px;
                border-radius: 15px;
            }
        }
    }
    .header-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-weight: 300;
        position: fixed;
        bottom: $container-padding;
        right: $container-padding;
        img {
            width: 26px;
        }
    }
}

/* Back to top */
.back-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: $container-padding*2.3;
    right: $container-padding;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(63, 63, 63);
    filter: 0;
    border-radius: 60px;
    z-index: 3;
    transition: all 0.3s ease;
    &:hover {
        border: 1px solid rgb(255, 255, 255);
        height: 60px;
    }
    .back-top-content {
        color: white;
        font-weight: 500;
    }
    text-decoration: none;
}

.hidden {
    opacity: 0;
}

/*--------- SECTION ---------*/
.featured-projects {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    .scroll {
        font-size: 150px;
        font-weight: 600;
        position: absolute;
        filter: blur(10px);
        transition: filter 0.8s ease-in-out;
        .project-link {
            color: white;
            text-decoration: none;
            border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0);
            transition: border-bottom 0.2s ease-in-out;
            &:hover {
                border-bottom: 2px solid rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
    .work-links {
        a {
            text-decoration: none;
            font-weight: 500;
            color: white;
            border: 1px solid rgba($color: #ffffff, $alpha: 0);
            border-radius: 40px;
            padding: 30px;
            margin: 0 10px;
            transition: all 0.2s ease-in-out;
            &:hover {
                border: 1px solid rgba($color: #ffffff, $alpha: 1);
            }
        }
    }
    .scroll-appear {
        filter: blur(0px);
    }
    .image-container {
        opacity: 1;
        z-index: -1;
        transition: opacity 0.5s ease-out;
        img {
            width: 800px;
        }
    }
    .image-dark {
        opacity: 0.1;
    }
}

/*--------- ABOUT ME ---------*/
.other-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scroll-other {
        filter: blur(10px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            width: 50vw;
            text-align: center;
            font-size: 30px;
            line-height: 35px;
            font-weight: 300;
        }
        .more-about-btn {
            font-size: 20px;
            font-weight: 300;
            color: white;
            border: 1px solid rgba($color: #ffffff, $alpha: 0);
            border-radius: 40px;
            padding: 30px;
            text-decoration: none;
            margin-top: 30px;
            transition: all 0.3s ease;
            &:hover {
                border: 1px solid rgba($color: #ffffff, $alpha: 1);
            }
        }
        transition: filter 0.7s ease-out;
    }
    .scroll-appear-other {
        filter: blur(0px);
    }
    .scroll-about-skills {
        p {
            margin-bottom: $container-padding;
        }
        margin-top: 50px;
        .skill-item {
            width: auto;
            font-size: 20px;
            font-weight: 300;
            color: white;
            border: 1px solid rgba($color: #434343, $alpha: 1);
            border-radius: 30px;
            padding: 20px;
        }
        .skill-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

/*--------- FOOTER ---------*/
.contact-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .scroll-other {
        margin-bottom: 50px;
        p {
            font-weight: bold;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        a {
            color: white;
            text-decoration: none;
            padding-bottom: 5px;
            font-size: 30px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        #email-address {
            border-bottom: 2px solid rgb(255, 255, 255);
        }
        .contact-social-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            .social-image-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            img {
                width: 25px;
            }
            a {
                border: 0;
            }
            h2 {
                font-weight: 300;
                font-size: 20px;
            }
        }
    }
    .scroll-other-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: $container-padding;
    }
}